<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
    $(document).ready(function(){
      $('#yes').on('click',function(){
        alert();
      });
      $('#no').on('click',function(){
        location.href="./go";
      });
    });
    </script>
  </head>
  <body>
    <div id="add">
    <input id="yes" type="submit" value="Yes"/><br/>
    <input id="no" type="submit" value="No"/><br/>
  </div>
  </body>
</html>
