<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action = "./store" method="post">
      <input type="text" name="address" placeholder="Type Here ..."/>
      <input type="submit" value="Done"/>
    </form>
  </body>
</html>
