
    <style>
    #cheese1 input{
    height:47px;
    color: white;
    background: #337ab7;
    width:65%;
    margin-left: 61px;
  }
    </style>

    <div id="cheese1">
      <input type="button" id="c1" value="I am done"/><br/>
      <input type="button" id="c1" value="Crust Type"/><br/>
      <input type="button" id="c1" value="Toppings"/><br/>
      <input type="button" id="c1" value="Add Extra Cheese"/><br/>
    </div>
  
