<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    input{
    width: 269px;
    border-radius: 25px;
    height: 40px;
    }
    </style>
    <script>
    $(document).ready(function(){
      $('#click').on('click',function(){
        $.ajax({
          url:'./nik3'
      });
    });
  });
    </script>
  </head>
  <body>
    <input type="text" value="{{pizzaName}}"/><span id="click">Done</span>
  </body>
</html>
