<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    input{
      border-radius: 25px;
      width: 245px;
      height: 33px;
      margin: 3px auto 5px;
    }
    </style>
  </head>
  <body>
    <input type="text" placeholder="Choose from Below.." disabled />
  </body>
</html>
