<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
    function regular(id){
      $.ajax({
        url:'./'+id
      });
    }
    </script>
    <style>
    #large input {
      width: 65%;
      background: #337ab7;
      border-radius: 25px;
      margin-left: 61px;
      height:47px;
      color:white;
    }
    </style>
  </head>
  <body>
    <div id="large">
      <input id="size" onclick="regular(this.id)" type="submit" value="Regular"><br/>
      <input id="size1" onclick="regular(this.id)" type="submit" value="Medium"><br/>
      <input id="size2" onclick="regular(this.id)" type="submit" value="Large"><br/>
    </div>
    </body>
</html>
