<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
    // $(document).ready(function(){
    //   $('#done').on('click',function(){
    //     location.href="./name";
    //   });
    // });
    </script>
  </head>
  <body>
    <form action="name" method="post">
    <input name="customer" type="text" id="name" placeholder="Type here..." /><input type="submit" value="Done"/>
  </form>
  </body>
</html>
