<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
    $(document).ready(function(){
      $('#oneP').on('click',function(){
        $.ajax({
          url:'./onePP'
        });
      });
    });
    </script>
  </head>
  <body>
    <input type="text" value="1Pizza"/><span id="oneP">Done</span>
  </body>
</html>
