<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
    $(document).ready(function(){
    });
    function  abc(id){
      var url =  $('#'+id).attr('data');
      $.ajax({
        url:'./'+url
      });
    }
    </script>
    <style>
    #choice input {
      width: 65%;
      background: #337ab7;
      border-radius: 25px;
      margin-left: 61px;
      color:white;
    }
    </style>
  </head>
  <body>
    <div id="choice">
      <input id="y" onclick="abc(this.id);" data='yes' type="button" value="Yes"/><br/>
      <input id="n" onclick="abc(this.id);" data='no' type="button" value="No"/><br/>
    </div>
  </body>
</html>
