<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    #crustP input{
      color: white;
      background: #337ab7;
    }
    </style>
    <script>
    function top1(id){
      $.ajax({
        url:'./'+id
      });

    }
    </script>
  </head>
  <body>
    <div id="crustP">
    <input id="crust" onclick="top1(this.id)" type="button" value="Crust Type"/><br/>
    <input id="toppingsType" onclick="top1(this.id)" type="button" value="Toppings"/><br/>
    <input id="cheeseType" onclick="top1(this.id)" type="button" value="Add Extra Cheese"/><br/>
    <input id="done" onclick="top1(this.id)" type="button" value="I am done"/><br/>
  </div>
  </body>
</html>
